standby_mode = 'on'
trigger_file = '/tmp/promotedb'

{% if pgsqlrep_type_stream == true %}
primary_conninfo='postgresql://{{ pgsqlrep_user }}:{{ pgsqlrep_password }}@{{ pgsqlrep_master_address }}:{{ pgsqlrep_master_pg_port }}/replication' #?connect_timeout=10&application_name=myapp
{% endif %}
# Archiv
{% if pgsqlrep_type_archiv == true %}
restore_command = {{ pg_archiv_cmd_restory }}
archive_cleanup_command = '/usr/pgsql-{{ postgresql_version_major }}/bin/pg_archivecleanup {{ pgsqlrep_archiv_path }} %r'
{% endif %}
